<!DOCTYPE html>
<link rel="stylesheet" href="static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if session.admin %}
<body style="background-color: blanchedalmond;">
<h1><u>Creating a new course</u></h1>

<div style="float:left;padding: 0px; padding-right: 2.5%;">
<form>
<li><a href="/newIssue">Send message</a></li>
</form>
</div>
<div style="float:left;padding: 0px; padding-right: 2.5%;">
<form>
<li><a href="/login">Return to main site</a></li>
</form>
</div>
<div style="float:left;padding: 0px;">
<form>
<li><a href="/logout">Log out</a></li>
</form>
</div>
<divdiv style="float:left;padding: 0px;">
</div>

<p>Create a new course by filling all the fields below. Course must have a unique name
    and time of starting and ending must be both in the form <strong>day.month.year</strong>.
    For example 7 January 2005 must be in the form 7.1.2005 or 07.01.2005.
</p>

<form action="/createCourse" method="post">
Name:<br>
<input type="text" name="courseName" required value={{crsNm}}>
<p></p>
Time of starting:<br>
<input type="text" name="startTime" required value={{strTm}}>
<p></p>
Time of ending:<br>
<input type="text" name="endTime" required value={{endTm}}>
<br>
<p></p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p></p><input type="submit" value="Create a new course">
</form>
<hr>
<p>{{ message }}</p>
</body>
{% endif %}
