<!DOCTYPE html>
<link rel="stylesheet" href="static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

{% if session.username %}
<h1>LearningApp - {{ session.username }}</h1>
<h2><u>My courses</u></h2>
<form>
{{ message }}
{% for course in myCourses %}
{{ course.name }}
{{ course.time }}
<hr>
<p></p>
{% endfor %}
</form>
<h2><u>Future and ongoing courses in year 2023</u></h2>
<p>Here you can view and choose new courses for yourself. Please select the square next to the course description and click button below in the order to register.</p>
<form action="/courseReg" method="POST">
{% for course in allCourses %}
<input type="checkbox" name="course" value={{course.id}}> {{course.name}}
{{ course.time }}
<p></p>
<hr>
{% endfor %}
<p></p><input type="submit" value="Register for the course">
</form>
<form method="GET" action ="/">
<form method="GET" action="/logout"></form>
</form>
</body>
<p><a href="/userLogout">Log out</a></p>

{% elif session.admin %}
<h1>LearningApp - {{ session.admin }}</h1>
<h2><u>My courses</u></h2>
<form>
{{ message }}
{% for course in myCourses %}
{{ course.name }}
{{ course.time }}
<hr>
<p></p>
{% endfor %}
</form>
<h2><u>Future and ongoing courses in year 2023</u></h2>
<p>Here you can view and choose new courses for yourself. Please select the square next to the course description and click the button below in the order to register.</p>
<form action="/courseReg" method="POST">
{% for course in allCourses %}
<input type="checkbox" name="course" value={{course.id}}> {{course.name}}
{{ course.time }}
<p></p>
<hr>
{% endfor %}
<p></p><input type="submit" value="Register for the course">
</form>
<form method="GET" action ="/">
<form method="GET" action="/logout"></form>
</form>
</body>
<p><a href="/adminLogout">Log out</a></p>
<body>
<p><a href="/create">Create a new course</a></p>
</body>

{% else %}
<body>
<h1>Welcome to LearningApp</h1>
<p>Please make a new account in the order to use the site or log in if you already have a one.</p>
<p> </p>
<form action="/login" method="POST">
<p>Username:<p><input type="text" name="username">
<p>Password:<p><input type="password" name="password">
<p></p><input type="submit" value="Log in">
</form>
<p>{{ message }}</p>
</body>
<hr>
<p><a href="/register">Make a new account</a></p>
{% endif %}


